{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "import/no-cycle": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["label"],
      "labelAttributes": ["htmlFor"],
      "controlComponents": ["input"]
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
        "some": [ "nesting", "id" ]
      }
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "camelcase": ["error", { "ignoreDestructuring": true, "properties": "never"}],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "react/jsx-props-no-spreading": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
