@import "../../../../utils/styles/themes/index";

.nav {

  &-item {
    padding: 9px 16px;
  }
  &-link {
    padding: 0 0 2px;
    font-size: 16px;
    font-weight: 400;
    color: $color-black;
    text-transform: uppercase;
    &:hover {
      color: $color-green;
    }

    &.active {
      color: $color-green;
      font-weight: 700;
      border-bottom: 1px solid $color-green;
    }
  }
}
